{% load static %}
<header id="header-container">
    <!-- Header -->
    <div id="header">
        <div class="container container-header">
            <!-- Left Side Content -->
            <div class="left-side">
                <!-- Logo -->
                <div id="logo">
                    <a href="/"><img src="{% static '/landing/images/logo-red.svg' %}" alt="" /></a>
                </div>
                <!-- Mobile Navigation -->
                <div class="mmenu-trigger">
                    <button class="hamburger hamburger--collapse" type="button">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
                
            </div>
            <!-- Left Side Content / End -->

            <!-- Right Side Content / End -->
            <div class="right-side d-none d-none d-lg-none d-xl-flex">
                <!-- Header Widget -->
                <div class="header-widget">
                    <a href="{% url 'addProparty' %}" class="button border">Add Listing<i
                            class="fas fa-laptop-house ml-2"></i></a>
                </div>
                <!-- Header Widget / End -->
            </div>
            <!-- Right Side Content / End -->

            <!-- Right Side Content / End -->
            {% if request.user.is_authenticated %}
            <div class="header-user-menu user-menu add">
                <div class="header-user-name">
                    Hi, {{request.user}}
                </div>
                <ul>
                    <li><a href="{% url 'dashboard' %}"> Dashboard</a></li>
                    <li><a href="{% url 'changePass' %}"> Change Password</a></li>
                    <li><a href="{% url 'logout' %}">Log Out</a></li>
                </ul>
            </div>
            <!-- Right Side Content / End -->
            
            {% endif %}

            {% if not request.user.is_authenticated %}
            <div class="right-side d-none d-none d-lg-none d-xl-flex sign ml-0">
                <!-- Header Widget -->
                <div class="header-widget sign-in">
                    <!-- <div class="show-reg-form modal-open"><a href="#">Sign In</a></div> -->
                    <div class="show-reg-form"><a href="{% url 'signup' %}">Sign In</a></div> 
                </div>
                <!-- Header Widget / End -->
            </div>
            {% endif %}
            
            <!-- Right Side Content / End -->

           
        </div>
    </div>
    <!-- Header / End -->
</header>