{% extends './base.html' %}
{% load static %}
{% block mainContent %}
<!-- STAR HEADER GOOGLE MAP -->
<div id="map-container" class="fullwidth-home-map header-map google-maps pull-top map-leaflet-wrapper">
    <div id="map-leaflet"></div>
    <div id="hero-area" class="main-search-inner search-2">

        <div class="container" data-aos="zoom-in">
            <div class="row">
                <div class="col-md-12">
                    <!-- Search Form -->
                    <div class="col-12">
                        <div class="banner-search-wrap">
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="tabs_1">
                                    <div class="rld-main-search">
                                        <div class="row" style="justify-content: space-around;">
                                            <div class="rld-single-select ml-22">
                                                <select id="propartyType" class="select single-select">
                                                    <option disabled selected value="">Property Type</option>
                                                    <option value="Family">Family House</option>
                                                    <option value="Bachelor">Bachelor House</option>
                                                </select>
                                            </div>
                                            <div class="rld-single-select">
                                                <select id="location"  class="select single-select mr-0">
                                                    <option disabled selected value="">Location</option>
                                                    <option value="2">Los Angeles</option>
                                                    <option value="3">Chicago</option>
                                                    <option value="3">Philadelphia</option>
                                                    <option value="3">San Francisco</option>
                                                    <option value="3">Miami</option>
                                                    <option value="3">Houston</option>
                                                </select>
                                            </div>

                                            <div class="col-xl-2 col-lg-2 col-md-4 pl-0">
                                                <button id="searchBtn" class="btn btn-yellow" >Search Now</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/ End Search Form -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END HEADER GOOGLE MAP -->
<!-- START SECTION FEATURED PROPERTIES -->
<section class="featured portfolio bg-white-2">
    <div class="container">
        <div class="sec-title">
            <h2><span>Latest </span>Properties</h2>
            <p>We provide full service at every step.</p>
        </div>
        <div class="row portfolio-items">
            {% for i in context %}
            <div class="item col-lg-4 col-md-6 col-xs-12 landscapes sale">
                <div class="project-single" data-aos="fade-up" data-aos-delay="150">
                    <div class="project-inner project-head">
                        <div class="homes">
                            <!-- homes img -->
                            <a href="{% url 'propertyView' i.prop.id %}" class="homes-img">
                                <div class="homes-tag button alt featured">Latest</div>
                                <div class="homes-tag button alt sale">For Rent</div>
                                <div class="homes-price">{{i.prop.price}}/mo</div>
                                <img src="{{i.img.url}}" alt="home-1"
                                    class="img-responsive">
                            </a>
                        </div>
                        <!-- <div class="button-effect">
                                <a href="single-property-1.html" class="btn"><i class="fa fa-link"></i></a>
                                <a href="https://www.youtube.com/watch?v=14semTlwyUY" class="btn popup-video popup-youtube"><i class="fas fa-video"></i></a>
                                <a href="single-property-2.html" class="img-poppu btn"><i class="fa fa-photo"></i></a>
                            </div> -->
                    </div>
                    <!-- homes content -->
                    <div class="homes-content">
                        <!-- homes address -->
                        <h3><a href="{% url 'propertyView' i.prop.id %}">{{i.prop.title}}</a></h3>
                        <p class="homes-address mb-3">
                            <a href="{% url 'propertyView' i.prop.id %}">
                                <i class="fa fa-map-marker"></i><span>{{i.prop.address}}</span>
                            </a>
                        </p>
                        <p class="homes-address mb-3">{{i.prop.description}}</p>
                        <!-- homes List -->
                        <ul class="homes-list clearfix pb-3">
                            <li class="the-icons">
                                <i class="flaticon-bed mr-2" aria-hidden="true"></i>
                                <span>{{i.prop.rooms}} {% if i.prop.type == "Family" %} Rooms {% else %} Seats {% endif %}</span>
                            </li>
                            <li class="the-icons">
                                <i class="flaticon-square mr-2" aria-hidden="true"></i>
                                <span>{{i.prop.area}} sqft</span>
                            </li>
                        </ul>
                        <div class="footer">
                            <span class="mt-0">{{i.prop.type}}</span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="bg-all">
            <a href="#" class="btn btn-outline-light">View All</a>
        </div>
    </div>
</section>
<!-- END SECTION FEATURED PROPERTIES -->
<!-- START SECTION WHY CHOOSE US -->
<section class="how-it-works bg-white">
    <div class="container">
        <div class="sec-title">
            <h2><span>Why </span>Choose Us</h2>
            <p>We provide full service at every step.</p>
        </div>
        <div class="row service-1">
            <article class="col-lg-4 col-md-6 col-xs-12 serv" data-aos="fade-up" data-aos-delay="150">
                <div class="serv-flex">
                    <div class="art-1 img-13">
                        <img src="{% static 'landing/images/icons/icon-4.svg' %}" alt="">
                        <h3>Wide Renge Of Properties</h3>
                    </div>
                    <div class="service-text-p">
                        <p class="text-center">lorem ipsum dolor sit amet, consectetur pro adipisici consectetur debits
                            adipisicing lacus consectetur Business Directory.</p>
                    </div>
                </div>
            </article>
            <article class="col-lg-4 col-md-6 col-xs-12 serv" data-aos="fade-up" data-aos-delay="250">
                <div class="serv-flex">
                    <div class="art-1 img-14">
                        <img src="{% static 'landing/images/icons/icon-5.svg' %}" alt="">
                        <h3>Trusted by thousands</h3>
                    </div>
                    <div class="service-text-p">
                        <p class="text-center">lorem ipsum dolor sit amet, consectetur pro adipisici consectetur debits
                            adipisicing lacus consectetur Business Directory.</p>
                    </div>
                </div>
            </article>
            <article class="col-lg-4 col-md-6 col-xs-12 serv mb-0 pt" data-aos="fade-up" data-aos-delay="350">
                <div class="serv-flex arrow">
                    <div class="art-1 img-15">
                        <img src="{% static 'landing/images/icons/icon-6.svg' %}" alt="">
                        <h3>Financing made easy</h3>
                    </div>
                    <div class="service-text-p">
                        <p class="text-center">lorem ipsum dolor sit amet, consectetur pro adipisici consectetur debits
                            adipisicing lacus consectetur Business Directory.</p>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>
<!-- END SECTION WHY CHOOSE US -->

<script>
    document.getElementById('searchBtn').addEventListener('click', ()=>{
        let pType = document.getElementById('propartyType').value
        let loc = document.getElementById('location').value
        // if(pType && loc) 
        pType || loc ? window.location.href = `/search?type=${pType}&location=${loc}` : window.location.href = '/search'
        
    })
</script>
{% endblock mainContent %}