{% extends './base.html' %}

{% block mainContentForm %}
<section class="headings">
    <div class="text-heading text-center">
        <div class="container">
            <h1>Login</h1>
            <h2><a href="/">Home </a> &nbsp;/&nbsp; Sign In</h2>
        </div>
    </div>
</section>
<!-- END SECTION HEADINGS -->

<!-- START SECTION 404 -->
<div id="login">
    <div class="login">
        <form autocomplete="off" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label>User Name</label>
                <input class="form-control" type="text" name="username" required>
                <i class="ti-user"></i>
            </div>
            
            
            <div class="form-group">
                <label>Your password</label>
                <input class="form-control" type="password" id="password1" name="password" required>
                <i class="icon_lock_alt"></i>
            </div>
            <div id="pass-info" class="clearfix"></div>
            <button type="submit" class="btn_1 rounded full-width add_top_30">Login!</button>
            <div class="text-center add_top_10">Already have an acccount? <strong><a href="{% url 'signup' %}">Sign up</a></strong></div>
        </form>
    </div>
</div>
<!-- END SECTION 404 -->
{% endblock mainContentForm %}