{% extends './base.html' %}

{% block mainContentForm %}
<section class="headings">
    <div class="text-heading text-center">
        <div class="container">
            <h1>Register</h1>
            <h2><a href="/">Home </a> &nbsp;/&nbsp; Register</h2>
        </div>
    </div>
</section>
<!-- END SECTION HEADINGS -->

<!-- START SECTION 404 -->
<div id="login">
    <div class="login">
        <form autocomplete="off" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label>User Name</label>
                <input class="form-control" type="text" name="username" required>
                <i class="ti-user"></i>
            </div>
            <div class="form-group">
                <label>your First Name</label>
                <input class="form-control" type="text" name="first_name" required>
                <i class="ti-user"></i>
            </div>
            <div class="form-group">
                <label>Your Last Name</label>
                <input class="form-control" type="text" name="last_name">
                <i class="ti-user"></i>
            </div>
            <div class="form-group">
                <label>Your Email</label>
                <input class="form-control" type="email" name="email" required>
                <i class="icon_mail_alt"></i>
            </div>
            <div class="form-group">
                <label>Your password</label>
                <input class="form-control" type="password" id="password1" name="password1" required>
                <i class="icon_lock_alt"></i>
            </div>
            <div class="form-group">
                <label>Confirm password</label>
                <input class="form-control" type="password" id="password2" name="password2" required>
                <i class="icon_lock_alt"></i>
            </div>
            <div id="pass-info" class="clearfix"></div>
            <button type="submit" class="btn_1 rounded full-width add_top_30">Register Now!</button>
            <div class="text-center add_top_10">Already have an acccount? <strong><a href="{% url 'login' %}">Sign In</a></strong></div>
        </form>
    </div>
</div>
<!-- END SECTION 404 -->
{% endblock mainContentForm %}