{% extends './base.html' %}
{% load static %}
{% block mainContent %}
<div class="my-address">
    <h3 class="heading pt-0">Change Password</h3>
    <form method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-12 ">
                <div class="form-group name">
                    <label>Current Password</label>
                    <input type="password" name="old_password" class="form-control" placeholder="Current Password">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group email">
                    <label>New Password</label>
                    <input type="password" name="new_password1" class="form-control" placeholder="New Password">
                </div>
            </div>
            <div class="col-lg-12 ">
                <div class="form-group subject">
                    <label>Confirm New Password</label>
                    <input type="password" name="new_password2" class="form-control" placeholder="Confirm New Password">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="send-btn mt-2">
                    <button type="submit" class="btn btn-common">Send Changes</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock mainContent %}

